# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production build
dist/
client/dist/

# Environment files and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.json
!package.json
!package-lock.json

# If you need specific JSON config files, exclude them from the ignore list above
# For example, if you want to track a config.json, uncomment the following line:
# !config.json

# Mac
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# IDE / Editor
.vscode/
.idea/
